{% load i18n %}
{% load cache %}
{% load dajaxice_templatetags %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{% block title %}{% trans 'Cifonauta: Banco de Imagens de Biologia Marinha' %} | CEBIMar USP{% endblock %}</title>
  <meta name="keywords" content="{% block meta-keywords %}{% endblock %}" />
  <meta name="description" content="{% block meta-description %}{% endblock %}" />
  <meta name="author" content="{% block meta-author %}{% endblock %}" />

  <!-- Google Webmaster -->
  <meta name="google-site-verification" content="BR51AOyAS3lEWe5WRABMGck-apEdwxa4TkTQZtx4akM" />

  <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">

  <!-- Humans -->
  <link rel="author" href="{{ STATIC_URL }}humans.txt" />

  <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css" />
  
  <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.css" />
  
  <!-- Google Web Fonts -->
  <link href="http://fonts.googleapis.com/css?family=Ubuntu:light,regular,italic,bold" rel="stylesheet" type="text/css">

  <!-- Feeds -->
  <link rel="alternate" type="application/rss+xml" title="{% trans 'Cifonauta: últimas fotos e vídeos' %}" href="/feed/latest/all/" />
  <link rel="alternate" type="application/rss+xml" title="{% trans 'Cifonauta: últimas fotos' %}" href="/feed/latest/photos/" />
  <link rel="alternate" type="application/rss+xml" title="{% trans 'Cifonauta: últimos vídeos' %}" href="/feed/latest/videos/" />

  {% block extra-head %}{% endblock %}

  <script src="{{ STATIC_URL }}js/vendor/custom.modernizr.js"></script>

</head>
<body>
  <div class="row">
    <div class="large-12 columns">
      
      <nav class="top-bar">{% include 'nav.html' %}</nav>

      <header class="main" id="mainheader">{% include 'header.html' %}</header>

      <section class="main" id="content">
        {% block content %}{% endblock %}
        {% block sidebar %}{% endblock %}
      </section>

      <footer class="main quiet">{% include 'footer.html' %}</footer>

    </div>
  </div>

  <div class="row">
    <div class="large-8 columns">
      <h3>The Grid</h3>

      <!-- Grid Example -->
      <div class="row">
        <div class="large-12 columns">
          <div class="panel">
            <p>This is a twelve column section in a row. Each of these includes a div.panel element so you can see where the columns are - it's not required at all for the grid.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <div class="panel">
            <p>Six columns</p>
          </div>
        </div>
        <div class="large-6 columns">
          <div class="panel">
            <p>Six columns</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns">
          <div class="panel">
            <p>Four columns</p>
          </div>
        </div>
        <div class="large-4 columns">
          <div class="panel">
            <p>Four columns</p>
          </div>
        </div>
        <div class="large-4 columns">
          <div class="panel">
            <p>Four columns</p>
          </div>
        </div>
      </div>

      <h3>Buttons</h3>

      <div class="row">
        <div class="large-6 columns">
          <p><a href="#" class="small button">Small Button</a></p>
          <p><a href="#" class="button">Medium Button</a></p>
          <p><a href="#" class="large button">Large Button</a></p>
        </div>
        <div class="large-6 columns">
          <p><a href="#" class="small alert button">Small Alert Button</a></p>
          <p><a href="#" class="success button">Medium Success Button</a></p>
          <p><a href="#" class="large secondary button">Large Secondary Button</a></p>
        </div>
      </div>
    </div>

    <div class="large-4 columns">
      <h4>Getting Started</h4>
      <p>We're stoked you want to try Foundation! To get going, this file (index.html) includes some basic styles you can modify, play around with, or totally destroy to get going.</p>

      <h4>Other Resources</h4>
      <p>Once you've exhausted the fun in this document, you should check out:</p>
      <ul class="disc">
        <li><a href="http://foundation.zurb.com/docs">Foundation Documentation</a><br />Everything you need to know about using the framework.</li>
        <li><a href="http://github.com/zurb/foundation">Foundation on Github</a><br />Latest code, issue reports, feature requests and more.</li>
        <li><a href="http://twitter.com/foundationzurb">@foundationzurb</a><br />Ping us on Twitter if you have questions. If you build something with this we'd love to see it (and send you a totally boss sticker).</li>
      </ul>
    </div>
  </div>

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? '{{ STATIC_URL }}js/vendor/zepto' : '{{ STATIC_URL }}js/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="{{ STATIC_URL }}js/foundation.min.js"></script>
  
  <script src="{{ STATIC_URL }}js/foundation/foundation.js"></script>
  
  <script src="{{ STATIC_URL }}js/foundation/foundation.alerts.js"></script>
  
  <script src="{{ STATIC_URL }}js/foundation/foundation.clearing.js"></script>
  
  <script src="{{ STATIC_URL }}js/foundation/foundation.cookie.js"></script>
  
  <script src="{{ STATIC_URL }}js/foundation/foundation.dropdown.js"></script>
  
  <script src="{{ STATIC_URL }}js/foundation/foundation.forms.js"></script>
  
  <script src="{{ STATIC_URL }}js/foundation/foundation.joyride.js"></script>
  
  <script src="{{ STATIC_URL }}js/foundation/foundation.magellan.js"></script>
  
  <script src="{{ STATIC_URL }}js/foundation/foundation.orbit.js"></script>
  
  <script src="{{ STATIC_URL }}js/foundation/foundation.placeholder.js"></script>
  
  <script src="{{ STATIC_URL }}js/foundation/foundation.reveal.js"></script>
  
  <script src="{{ STATIC_URL }}js/foundation/foundation.section.js"></script>
  
  <script src="{{ STATIC_URL }}js/foundation/foundation.tooltips.js"></script>
  
  <script src="{{ STATIC_URL }}js/foundation/foundation.topbar.js"></script>
  
  <script>
    $(document).foundation();
  </script>
</body>
</html>