{% load i18n %}

<!-- Mobile menu option -->
<ul class="title-area">
  <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
</ul>

<section class="top-bar-section">

  <ul class="right menu" id="media">
    <!-- Site links -->
    <li><a href="/">{% trans 'home' %}</a></li>
    <li class="has-dropdown">
      <a href="#">{% trans 'sobre' %}</a>
      <ul class="dropdown">
        <li><a href="/about/">{% trans 'saiba mais' %}</a></li>
        <li><a href="/blog/">{% trans 'notícias' %}</a></li>
        <li><a href="/organization/">{% trans 'arquivo' %}</a></li>
        <li><a href="/press/">{% trans 'imprensa' %}</a></li>
        <li><a href="/terms/">{% trans 'termos de uso' %}</a></li>
        <li><a href="/details/">{% trans 'detalhes técnicos' %}</a></li>
        <li><a href="/feedback/">{% trans 'contato' %}</a></li>
      </ul>
    </li>
    <li class="divider"></li>
    <li><a href="/search/?type=photo">{% trans 'fotos' %}</a></li>
    <li><a href="/search/?type=video">{% trans 'vídeos' %}</a></li>
    <li><a href="{% url tours_url %}">{% trans 'tours' %}</a></li>
    <li><a href="{% url taxa_url %}">{% trans 'táxons' %}</a></li>
    <li><a href="{% url tags_url %}">{% trans 'marcadores' %}</a></li>
    <li><a href="{% url places_url %}">{% trans 'localidades' %}</a></li>
    <li><a href="{% url authors_url %}">{% trans 'autores' %}</a></li>
    <li><a href="{% url refs_url %}">{% trans 'referências' %}</a></li>
  </ul>

  <ul class="left">
    <!-- Admin area -->
    {% if user.is_authenticated %}
    <li class="has-dropdown" id="admin">
      <a href="#">admin</a>
      <ul class="dropdown">
        <li><a href="/admin/">admin</a></li>
        <li><a href="/private/">privadas</a></li>
        <li><a href="/fixmedia/">fixmedia</a></li>
        <li><a href="/translate/">traduzir</a></li>
        <li><a href="{% url django.contrib.auth.views.logout %}">logout</a></li>
      </ul>
    </li>
    {% else %}
    <li id="admin"><a href="{% url django.contrib.auth.views.login %}">login</a></li>
    {% endif %}
  </ul>

</section>